/*

!.gitignore
!README.MD

!admin/controller/extension/payment/gercpay.php
!admin/language/en-gb/extension/payment/gercpay.php
!admin/language/ru-ru/extension/payment/gercpay.php
!admin/language/uk-ua/extension/payment/gercpay.php

!admin/view/image/payment/gercpay.png
!admin/view/image/payment/gercpay.svg

!admin/view/template/extension/payment/gercpay.twig

!catalog/controller/extension/payment/gercpay.php
!catalog/language/en-gb/extension/payment/gercpay.php
!catalog/language/ru-ru/extension/payment/gercpay.php
!catalog/language/uk-ua/extension/payment/gercpay.php

!catalog/model/extension/payment/gercpay.php
!catalog/view/theme/default/template/extension/payment/gercpay.twig

!image/payment/gercpay.png
!image/payment/gercpay.svg